@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: #000;
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 300;
    margin-top: 5px;
    letter-spacing: .05rem;
}

.titulo-section {
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    color: black;

}

.titulo-section span {
    color: #d50435;
}

.meu-nome h1{
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
}
.meu-nome span{
    color: #d50435;
}
/* topo section */
#topo-site {
    background-image: url(/images/fundo-topo.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

#topo-site::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}

#topo-site .topo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#topo-site h1 {
    display: block;
    width: fit-content;
    position: relative;
    font-size: 4.5rem;
    font-weight: 300;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#topo-site h1:nth-child(1) {
    animation-delay: 1s;
}

#topo-site h1:nth-child(2) {
    animation-delay: 2s;
}

#topo-site h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#topo-site h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #670018;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}

#topo-site h1:nth-child(1) span {
    animation-delay: .5s;
}

#topo-site h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#topo-site h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#topo-site .cta {
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    color: white;
    border-top: 3px solid #670018;
    border-bottom: 3px solid #670018;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .5s ease;
    transition-property: background-color, color;

}

#topo-site .cta:hover {

    background-color: #670018b4;

}

/* fim topo section */
/* servicos */

#servicos .servico {
    flex-direction: column;
    max-width: 1500px;
    padding: 100px 8%;
    margin: 0 auto;
    text-align: center;
}


#servicos .servico-top p {
    font-size: 1.4rem;
    margin-top: 10px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    color: #000;
}

#servicos .servico-bot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#servicos .servico-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    margin: 10px 5%;
    background-image: url(/images/fundo-servicos.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#servicos .servico-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(60deg, #4f565c 0%, #02101f 100%);
    opacity: .6;
    z-index: -1;
}

#servicos .servico-bot .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#servicos .servico-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#servicos .servico-item p {
    color: white;
    text-align: left;
}

/* fim-servicos */

/* projetos */

#section-projetos .projeto {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 8%;
}

#section-projetos .projeto-header h2 {
    margin-bottom: 50px;
}

#section-projetos .todos-projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section-projetos .projeto-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;

}

#section-projetos .texto-projeto {
    padding: 30px;
    flex-basis: 50%;
    background-image: linear-gradient(60deg, #000000d7, #670018);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#section-projetos .texto-projeto h2 {
    font-size: 4rem;
    font-weight: 500;
}

#section-projetos .texto-projeto h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 10px;
}

#section-projetos .texto-projeto p {
    color: white;
}

#section-projetos .imagem-projeto {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#section-projetos .imagem-projeto::after {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(60deg, #000000d7, #670018);
    opacity: .5;
}

#section-projetos .imagem-projeto img {
    transition: .3s ease transform;
}

#section-projetos .projeto-item:hover .imagem-projeto img {
    transform: scale(1.1);
}

/* fim projetos */

/* sobre mim */

#section-sobre .sobre {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 8%;
}

#section-sobre .lado-esquerdo {
    width: 280px;
    height: 380px;
}

#section-sobre .lado-direito {
    width: 100%;
}

#section-sobre .lado-direito h3 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#section-sobre .lado-direito h3 span {
    color: #d50435;
}
#section-sobre .lado-direito p{
    margin-bottom: 30px;
}
#section-sobre .lado-esquerdo .sobre-img{
    position: relative;
    border: 10px solid white; 
}
#section-sobre .lado-esquerdo .sobre-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 100%;
    width: 100%;
    border: 5px solid #670018;
    z-index: -1;
}

/* fim sobre mim */
/* contato */

#section-contato .contato{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    
}
#section-contato .contato-itens{
    width: 55%;
    
}
#section-contato .itens{
    margin-top: 20px;
    width: 100%;
    padding: 20px 8%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 12px 0 #00000050;
    transition: .5s ease;
    margin-bottom: 20px;
}

#section-contato .itens:hover{
    box-shadow: 0px 0px 5px 0 #00000050;
    transform: scale(1.05);
}

#section-contato .ico{
    margin: 0 auto;
    margin-bottom: 10px;
}

#section-contato .informacoes-contato h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#section-contato .informacoes-contato h3{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 5px;
}

/* fim contato */
/* footer */
#section-footer {
    background-image: linear-gradient(60deg, #000000d7, #670018);
}
#section-footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#section-footer .footer h2{
    color: white;
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
}
#section-footer .social-itens{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    gap: 100px;
}

#section-footer .social-icon{
    height: 45px;
    width: 45px;
    margin: 0 5px;
}

#section-footer .social-icon img{
    filter: grayscale(1);
    transition: .6s;
}
#section-footer .social-icon:hover img{
    filter: grayscale(0);
}
#section-footer p{
    color: white;
    font-size: 1.3rem;
    text-align: center;
}
#section-footer a{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}


/* fim footer */
/* keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: #670018;
        font-weight: 600;
    }
}

/* fim keyframes */